.video-component {
    video {
        margin-top: 2px;
        border: 1px solid #ccc;
        width: 100%;
        height: 400px;
        background-color: #ccc;
    }
    .button {
        cursor: pointer;
        display: block;
        width: 160px;
        border: 1px solid black;
        font-size: 16px;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 4px;
        color: white;
        background-color: darkgreen;
        text-decoration: none;
    }
    h2 {
        margin-bottom: 4px;
    }
    .left {
        margin-right: 10px;
        float: left;
        width: 160px;
        padding: 0px;
    }
    .right {
        margin-left: 10px;
        float: left;
        width: 160px;
        padding: 0px;
    }
    .bottom {
        clear: both;
        padding-top: 10px;
    }
    section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 64px;
        .container {
            width: 80%;
            display: flex;
            .video-container {
                flex-basis: 80%;
                display: flex;
                flex-direction: column;
                .video-control {
                    padding: 16px;
                    #recording {}
                }
                .video-buttons {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .record-download-btn {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        a {
                            margin-left: 16px;
                        }
                    }
                }
            }
            nav {
                flex-basis: 20%;
                ul {
                    li {
                        margin-bottom: 8px;
                        cursor: pointer;
                        &.active-item {
                            color: red
                        }
                    }
                }
            }
        }
    }
}